* {
  margin: 0;
  padding: 0;
  outline: 0;

  box-sizing: border-box;
}

:root {
  --white: #ffff;
  --black: #000;
  --green: #4caf50;
  --dark-gray: #555;
  --vibrant-blue: #007bff;
  --light-gray: #fafafa;
  --ghost-white: #f9f9f9;
}

:host {
  display: block;
  font-family: "Inter", system-ui, sans-serif;
}

body {
  background: var(--light-gray);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
input,
select,
button {
  font: 400 1rem sans-serif;
}
